/* Reset CSS*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

h1 {
    font-family: Arial;
    font-size: 7vw;
}

h2 {
    font-family: Arial;
    font-size: 4vw;
    color: grey;
    opacity: 90%;
}

p {
    font-family: Arial;
    font-size: 5vw;
}

@media (max-width: 599px) {
    .boxprofile {
        height: auto;
        width: 25vw;
        background-color: #bbb;
        border-radius: 50%;
        position: absolute;
        margin-left: 37.5vw;
        margin-top: 5vh;
    }

    .boxprofile::after {
        content: "";
        padding-bottom: 100%;
        display: block;
    }
    
    .backbox {
        height: 90vh;
        width: 100vw;
        padding-top: 10vh;
        background: rgb(250, 250, 250);
    }
    
    .boxtitle h1 {
        font-size: 4vh;
    }

    .boxcontact {
        margin-left: 5vw;
        height: 40vh;
        width: 90vw;
        border-radius: 3vh;
        box-shadow: 0 2px 20px rgb(0 0 0 / 0.1);
        background: white;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .BC0 {
        margin-top: 10vh;
    }

    .BC1 {
        margin-top: 0.5vh;
    }

    .iconslink {
        padding-top: 10vh;
        
    }

    #icon0 {
        margin-right: 10vw;
    }

    .iconslink a img {
        width: 12vw;
        height: auto;
        
    }

    .bottominfo {
        display: flex;
        flex-direction: column;
        padding-top: 5vh;
        padding-left: 3vw;
    }

    .BI0, .BI1, .BI2 {
        padding-top: 3vh;
    }

    .BI0 p, .BI1 p, .BI2 p{
        padding-top: 0.5vh;
    }

}

@media (min-width: 600px) {
    
}

@media (min-width: 768px) {
    
}