/* Reset CSS*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

h1 {
    font-family: Arial;
}

@media (max-width: 599px) {
    .backbox {
        height: 100vh;
        width: 100vw;
        background: linear-gradient(0deg, rgba(7,0,126,1) 0%, rgba(9,9,121,1) 15%, rgba(0,151,255,0.9) 80%);
    }

    .boxtitle {
        height: 10vh;
        width: 100vw;
        padding-top: 10vh;
        text-align: center;
        
        
    }

    .boxtitle h1 {
        font-size: 4vh;
        opacity: 70%;
    }

    .boxcontact {
        margin-left: 2.5vw;
        height: 70vh;
        width: 95vw;
        border-radius: 3vh;
        background: white;
    }
}

@media (min-width: 600px) {
    
}

@media (min-width: 768px) {
    
}